<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>


<div>Mike was here</div>

<!--adding a comment here-->

<p>The following is a short survey to be completed by the student.</p>

<p>First question: Can you type data in the text box below?</p>
<label>
    <input type="text">
</label>


<input type="button">

<input type="submit">

<div>This line should be below the text box and buttons</div>

</body>
</html>