<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Edited on 6/23/2017 Wendy Hartman for PSU SWENG500
-->
<html>
	<head>
		<title>Adjustment Response Survey</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Sense</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/episodesurvey">Episode</a>
						<a href="/adjustmentresponsesurvey">Adjustment Response</a>
						<a href="/emotionalstatesurvey">Emotional State</a>
						<a href="/surveyreports">Survey Reports</a>
						<a href="/faq">FAQ</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Adjustment Response Survey</h2>
						<p>Welcome to the Adjustment Response Survey</p>
					</header>

				<!-- Content -->
				<!-- Wendy Hartman: edited to reflect the intro for Adjustment Response Survey -->
					<h2 id="content"> Adjustment Response Survey </h2>
					<p>Need to add statement here. </p>


					<hr class="major" />


					<!—Wendy Hartman: here is where the survey begins -->
					<!—Wendy Hartman: starting with a question or statement, a text field and a submit button
					and edited to include the boxes for Name and Short description
					-->
					<h2 id="content">Survey</h2>
					<p>For this survey, you will be asked to choose your option from 1 - 6 raiting "Self" and "Situated-Other". </p>
					<input type="text" name="ARname" id="name" value="" placeholder="Name" />
					<br>
					<input type="text" name="ARIDnumber" id="IDNumber" value="" placeholder="ID Number" />
					<br>
					<input type="text" name="Adjustmentnumber" id="surveynumber" placeholder="Survey Number"  />
					<br>
					<hr class="major" />
					<form action="cgi-bin/episode.js" method="post">

							<br></b><b>For each question below, choose 1 (mostly independent) thru 6 (mostly allegiant).</b><br>

							1. When you think about your commitment to your assigned goals for this global experience, would you <br>
							say you were mostly independent (i.e., you acted independently to revise your goals according to the <br>
							situation and/or your personal needs at the time) OR mostly allegiant (i.e., regardless of situational<br>
							pressures or your needs at the time, you remained totally committed to your original assigned goals)?<br>
							<input type="radio" name="one" value="No different">  <br/>
							<input type="radio" name="one" value="Somewhat atypical">  <br/>
							<input type="radio" name="one" value="Extreme">  <br/>
						<p>
					<br>
					<!--<textarea name="message" id="ARGCQuestion" placeholder="Describe your episode here" rows="6"></textarea> -->
					<br>
					<input type="submit" value="Submit Survey" />

					<hr class="major" />
					<!-- ML: ends section for a question, a text field and a submit button -->



					<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<div class="flex">
								<div class="copyright">
									&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
								</div>
								<ul class="icons">
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
									<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
									<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
								</ul>
							</div>
						</div>
					</footer>

					<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/skel.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>

	</body>


</html>