<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Edited on 6/11/2017 ML for PSU SWENG500

	Edited on 6/30/2017 ML -- added script tag to call es_submit.js, added onclick event to submit button
-->
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Emotional State Survey</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>



	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Sense</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/episodesurvey">Episode</a>
						<a href="/adjustmentresponsesurvey">Adjustment Response</a>
						<a href="/emotionalstatesurvey">Emotional State</a>
						<a href="/surveyreports">Survey Reports</a>
						<a href="/faq">FAQ</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->



		<!-- 6/2/2017 - ML - this section of code called database results and was used to pull data from the db to ensure working submissions  -->

		<!-- 6/2/2017 - ML - removed this section of code out now that the page submits information correctly -->

        <!-- 6/2/2017 - ML - end of the section of code called database results and was used to pull data from the db to ensure working submissions  -->



		<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Emotional State Survey</h2>
						<p>Welcome to the Emotional State Survey </p>
					</header>

				<!-- Content -->
				<!-- ML:edited to reflect the intro for episodes and the emotional state survey -->
					<h2 id="content">Episodes and Emotional State</h2>
					<p>Episodes are coherent, thematically organized events in a person's stream of experience.  Episodes are associated with specific people, occurrences, and goals (broadly defined in terms of intentions). This survey is designed to collect your emotional state during an episode. </p>
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>Disorientation</h3>
							<p>Disorientation is experienced when:</p>
							<ul>
											<li>We feel dissonance (psychological discomfort) because our behaviors do not match our values, beliefs, attitudes, or norms.</li>
											<li>We struggle to make sense of a situation and we feel confused.</li>
											<li>Our expectations about what is supposed to happen or how people are supposed to respond are disconfirmed.</li>
							</ul>
						</div>
						<div class="6u$ 12u$(small)">
							<h3>Extra-cultural Disorientation</h3>
							<p>Extra-cultural disorientation refers to:</p>
							<ul>
											<li>episodes in which we attribute the disorientation we feel to our “foreignness” </li>
											<li>disorienting episodes that remind us of our “foreignness,” , that we are not “from here” or a member of the cultural “in-group”</li>
											<li>the realization that we lack a cultural frame of reference to effectively understand what is happening and/or anticipate what is likely to happen next when we are new to a cultural group</li>
							</ul>
						</div>
					</div>

				<hr class="major" />


				<!--&lt;!&ndash; ML: here is where the survey begins edited on 7/1/2017 &ndash;&gt;-->
				<!--&lt;!&ndash; ML: starting with a question or statement, a text field and a submit button-->
                    <!--and edited to include the boxes for Name and Short description-->
				<!--&ndash;&gt;-->
				<!--<h2 id="content">Survey Form</h2>-->
					<!--<form method="post" action="/emotionalstatesurvey">-->
					<!--<p>For this survey, enter a short narrative of the episode you experienced. Be descriptive in illustrating what took place in the episode. </p>-->
                    <!--<input type="text" name="ESname" id="ESname" value="" placeholder="Name" />-->
					<!--<br>-->
					<!--<input type="text" name="ESIDnumber" id="ESIDNumber" value="" placeholder="ID Number" />-->
					<!--<br>-->
					<!--<input type="text" name="ESsurveynumber" id="ESsurveynumber" placeholder="Survey Number"  />-->
					<!--<br>-->
                    <!--<input type="text" name="ESdescription" id="ESdescription" value="" placeholder="Short name for this episode" />-->
                    <!--<br>-->
					<!--<textarea name="message" id="ESmessage" placeholder="Describe your episode here" rows="6"></textarea>-->
					<!--<br>-->
                    <!--<input type="button" value="Submit Survey" />-->


					<!--</form>-->


					<!--<hr class="major" />-->
				<!--&lt;!&ndash; ML: ends section for a question, a text field and a submit button &ndash;&gt;						-->


                    <!-- Form -->
                    <h3>Form</h3>

                    <form method="get" action="/emotionalstatesurvey">
                        <div class="row uniform">
                            <div class="12u$">
                                <input type="text" name="esname" id="esname" value="" placeholder="Name" />
                            </div>
							<!-- Break -->
                            <div class="12u$">
                                <input type="number" name="esidnumber" id="esidnumber" value="" placeholder="ID Number" />
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <input type="text" name="essurveynumber" id="essurveynumber" value="" placeholder="Survey Number" style="width: 667px"/>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <input type="text" name="esdescription" id="esdescription" value="" placeholder="Survey Description" style="width: 667px"/>
                            </div>
                            <!-- Break -->
                            <div class="12u$">
                                <input type="text" name="esepisode" id="esepisode" value="" placeholder="Enter Episode Description" style="width: 667px; height: 400px;" />
                            </div>
                            <!-- Break -->
                            <!-- Break -->
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" /></li>
                                    <li><input type="reset" value="Reset" class="alt" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>

                    <hr />



                    <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>