<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Edited by James Huckestein for PSU MSSWENG Cohort-15 Capstone project
-->
<html>
	<head>
		<title>Episode Survey</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Sense</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/episodesurvey">Episode</a>
						<a href="/adjustmentresponsesurvey">Adjustment Response</a>
						<a href="/emotionalstatesurvey">Emotional State</a>
						<a href="/surveyreports">Survey Reports</a>
						<a href="/faq">FAQ</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Episode Survey</h2>
					</header>

				<!-- Content -->
					<h2 id="content">Short Survey of an Unordinary, Disorienting, or Unexpected Experience</h2>
					<p>Think of a specific episode within the past few days when you felt you had to adjust to the host culture.  The experience could be enjoyable/positive or frustrating/negative.  You were reminded that you are not at home because the episode was disorienting, confusing, difficult to understand, or unexpected.</p>
					

				<hr class="major" />
				<form name ="submit_episode" action="assets/js/episode.js" method="post">
				Please give this episode a short descriptive title: <input type="text" name="title" value="" ="25" maxlength="250" /><p>
				Where were you? (work, school, shopping, in your residence, etc.): <input type="text" name="location" value="" ="25" maxlength="250" /><p>
				What city did this episode occur: <input type="text" name="city" value"" ="25" maxlength="50" /><p>
				What country did this episode occur: <input type="text" name="country" value"" ="25" maxlength="50" /><p>
				What date did this episode occur: <input type="text" name="date" value"" ="25" maxlength="50" /><p>
				What is your User Number: <input type="text" name="user" value"" ="25" maxlength="50" /><p>
						For each item below, check only one response that best describes the episode.<p>
				1. Compared to similar experiences at home in my own familiar culture, this episode is:<p>
				  <input type="radio" name="one" id="no1" value="No different" /> <label for="no1">No Different</label> <br/>
				  <input type="radio" name="one" id="some1" value="Somewhat atypical, unusual" /> <label for="some1">Somewhat atypical, unusual</label> <br/>
						<input type="radio" name="one" id="ext1" value="Extremely unusual" /> <label for="ext1">Extremely unusual</label> <br/>
				<p>
				2. Given my knowledge, preparation, and what I have learned so far about the host culture, this episode: <p>
						<input type="radio" name="two" id="exact2" value="Unfolded exactly as I expected or planned; I knew what to do/say" /> <label for="exact2">Unfolded exactly as I expected or planned; I knew what to do/say</label> <br/>
						<input type="radio" name="two" id="more2" value="Happened more or less as I expected; I managed myself effectively" /> <label for="more2">Happened more or less as I expected; I managed myself effectively</label> <br/>
						<input type="radio" name="two" id="not2" value="Was not at all what I was expecting or what I planned for; I was not sure what to do or say" /> <label for="not2">Was not at all what I was expecting or what I planned for; I was not sure what to do or say</label> <br/>
				<p>
				3. This episode made me feel: <p> 
						<input type="radio" name="three" id="ext3" value="Extremely disoriented or confused; shocked; not sure what to think" /> <label for="ext3">Extremely disoriented or confused; shocked; not sure what to think</label> <br/>
						<input type="radio" name="three" id="some3" value="Somewhat disoriented; uncertain; a little awkward or perplexed" /> <label for="some3">Somewhat disoriented; uncertain; a little awkward or perplexed</label> <br/>
						<input type="radio" name="three" id="sense3" value="Not at all disoriented; confident; everything made sense to me" /> <label for="sense3">Not at all disoriented; confident; everything made sense to me</label> <br/>
				<p>
				4. This episode also made me feel: <p>
                        <input type="radio" name="four" id="ext4" value="Extremely stressed" /> <label for="ext4">Extremely stressed</label> <br/>
                        <input type="radio" name="four" id="mod4" value="Moderately stressed" /> <label for="mod4">Moderately stressed</label> <br/>
                        <input type="radio" name="four" id="not4" value="Not stressed" /> <label for="not4">Not stressed</label> <br/>
				<p>
				5. My words and actions during this episode were: <p>
                        <input type="radio" name="five" id="con5" value="Consistent with my values; beliefs, attitudes and the norms I usually follow" /> <label for="con5">Consistent with my values; beliefs, attitudes and the norms I usually follow</label> <br/>
                        <input type="radio" name="five" id="not5" value="Not consistent with my values; beliefs, attitudes and the norms I usually follow" /> <label for="not5">Not consistent with my values; beliefs, attitudes and the norms I usually follow</label> <br/>
                        <input type="radio" name="five" id="unc5" value="Uncomfortably different from my values, beliefs, attitudes, and the norms I usually follow" /> <label for="unc5">Uncomfortably different from my values, beliefs, attitudes, and the norms I usually follow</label> <br/>
				<p>
				6. To what extent were cultural differences an important and relevant factor in this episode? <p>
                        <input type="radio" name="six" id="very6" value="Very much so/almost entirely (90-100%)" /> <label for="very6">Very much so/almost entirely (90-100%)</label> <br/>
                        <input type="radio" name="six" id="quite6" value="Quite a bit (75-90%)" /> <label for="quite6">Quite a bit (75-90%)</label> <br/>
                        <input type="radio" name="six" id="more6" value="More than half (50-75%)" /> <label for="more6">More than half (50-75%)</label> <br/>
                        <input type="radio" name="six" id="rel6" value="Relevant (35-50%)" /> <label for="rel6">Relevant (35-50%)</label> <br/>
                        <input type="radio" name="six" id="some6" value="Somewhat (15-24%)" /> <label for="some6">Somewhat (15-24%)</label> <br/>
                        <input type="radio" name="six" id="slight6" value="Slightly / just a little (5-10%)" /> <label for="slight6">Slightly / just a little (5-10%)</label> <br/>
                        <input type="radio" name="six" id="not6" value="Not at all (0%)" /> <label for="not6">Not at all (0%)</label> <br/>
				<p>
				<b> How did you respond during this episode?  Circle the number between 0 and 6 that best describes your responses to the episode, where zero means "not at all" and 6 means "to a great extent." </b><p>
				7. I listened, observed, and learned "on the spot" in order to interpret and understand this episode. <p>
                        <input type="radio" name="seven" id="not7" value="0" /> <label for="not7">Not at all - 0</label> <br/>
                        <input type="radio" name="seven" id="very7" value="1" /> <label for="very7">Very Little - 1</label> <br/>
                        <input type="radio" name="seven" id="two7" value="2" /> <label for="two7">2</label> <br/>
                        <input type="radio" name="seven" id="three7" value="3" /> <label for="three7">3</label> <br/>
                        <input type="radio" name="seven" id="four7" value="4" /> <label for="four7">4</label> <br/>
                        <input type="radio" name="seven" id="five7" value="5" /> <label for="five7">5</label> <br/>
                        <input type="radio" name="seven" id="six7" value="6" /> <label for="six7">To a great extent - 6</label> <br/>
				<p>
				8. This episode changed the way I see myself and the possible roles that I can play <p>
                        <input type="radio" name="eight" id="not8" value="zero" /> <label for="not8">Not at all - 0</label> <br/>
                        <input type="radio" name="eight" id="very8" value="one" /> <label for="very8">Very Little - 1</label> <br/>
                        <input type="radio" name="eight" id="two8" value="two" /> <label for="two8">2</label> <br/>
                        <input type="radio" name="eight" id="three8" value="three" /> <label for="three8">3</label> <br/>
                        <input type="radio" name="eight" id="four8" value="four" /> <label for="four8">4</label> <br/>
                        <input type="radio" name="eight" id="five8" value="five" /> <label for="five8">5</label> <br/>
                        <input type="radio" name="eight" id="six8" value="six" /> <label for="six8">To a great extent - 6</label> <br/>
				<p>
				9. I relied on my own values, beliefs, and what I already know in order to interpret what was going on and understand this episode. <p>
						<input type="radio" name="nine" id="not9" value="zero" /> <label for="not9">Not at all - 0</label> <br/>
						<input type="radio" name="nine" id="very9" value="one" /> <label for="very9">Very Little - 1</label> <br/>
						<input type="radio" name="nine" id="two9" value="two" /> <label for="two9">2</label> <br/>
						<input type="radio" name="nine" id="three9" value="three" /> <label for="three9">3</label> <br/>
						<input type="radio" name="nine" id="four9" value="four" /> <label for="four9">4</label> <br/>
						<input type="radio" name="nine" id="five9" value="five" /> <label for="five9">5</label> <br/>
						<input type="radio" name="nine" id="six9" value="six" /> <label for="six9">To a great extent - 6</label> <br/>
				<p>
				10. Throughout this episode, I behaved according to my own training, habits, customs, and routines. <p>
						<input type="radio" name="ten" id="not10" value="zero" /> <label for="not10">Not at all - 0</label> <br/>
						<input type="radio" name="ten" id="very10" value="one" /> <label for="very10">Very Little - 1</label> <br/>
						<input type="radio" name="ten" id="two10" value="two" /> <label for="two10">2</label> <br/>
				  <input type="radio" name="ten" id="three10" value="three" /> <label for="three10">3</label> <br/>
				  <input type="radio" name="ten" id="four10" value="four" /> <label for="four10">4</label> <br/>
				  <input type="radio" name="ten" id="five10" value="five" /> <label for="five10">5</label> <br/>
				  <input type="radio" name="ten" id="six10" value="six" /> <label for="six10">To a great extent -6</label> <br/>
				<p>
				11. Following the cues from the situation, I adapted my behavior to try to blend in and act like everyone else in this episode. <p>
				  <input type="radio" name="eleven" id="not11" value="zero" /> <label for="not11">Not at all - 0</label> <br/>
				  <input type="radio" name="eleven" id="very11" value="one" /> <label for="very11">Very Little - 1</label> <br/>
				  <input type="radio" name="eleven" id="two11" value="two" /> <label for="two11">2</label> <br/>
				  <input type="radio" name="eleven" id="three11" value="three" /> <label for="three11">3</label> <br/>
						<input type="radio" name="eleven" id="four11" value="four" /> <label for="four11">4</label> <br/>
						<input type="radio" name="eleven" id="five11" value="five" /> <label for="five11">5</label> <br/>
						<input type="radio" name="eleven" id="six11" value="six" /> <label for="six11">To a great extent - 6</label> <br/>
				<p>
				12. My experience in this episode prompted me to re-evaluate or revise my overall assignment goal(s) to something more personalized and appropriate to my situation. <p>
						<input type="radio" name="twelve" id="not12" value="zero" /> <label for="not12">Not at all - 0</label> <br/>
						<input type="radio" name="twelve" id="very12" value="one" /> <label for="very12">Very Little - 1</label> <br/>
						<input type="radio" name="twelve" id="two12" value="two" /> <label for="two12">2</label> <br/>
						<input type="radio" name="twelve" id="three12" value="three" /> <label for="three12">3</label> <br/>
						<input type="radio" name="twelve" id="four12" value="four" /> <label for="four12">4</label> <br/>
						<input type="radio" name="twelve" id="five12" value="five" /> <label for="five12">5</label> <br/>
						<input type="radio" name="twelve" id="six12" value="six" /> <label for="six12">To a great extent - 6</label> <br/>
				<p>
				13. My commitment to my overall assigned goal(s) changed because of situational pressures or the specific circumstances of this episode. <p>
						<input type="radio" name="thirteen" id="not13" value="zero" /> <label for="not13">Not at all - 0</label> <br/>
						<input type="radio" name="thirteen" id="very13" value="one" /> <label for="very13">Very Little - 1</label> <br/>
						<input type="radio" name="thirteen" id="two13" value="two" /> <label for="two13">2</label> <br/>
						<input type="radio" name="thirteen" id="three13" value="three" /> <label for="three13">3</label> <br/>
						<input type="radio" name="thirteen" id="four13" value="four" /> <label for="four13">4</label> <br/>
						<input type="radio" name="thirteen" id="five13" value="five" /> <label for="five13">5</label> <br/>
						<input type="radio" name="thirteen" id="six13" value="six" /> <label for="six13">To a great extent - 6</label> <br/>
				<p>
				14. In order to feel more comfortable during this episode, I tried to change the situation and/or seek information and support from those around me at the time.
						<input type="radio" name="fourteen" id="not14" value="zero" /> <label for="not14">Not at all - 0</label> <br/>
						<input type="radio" name="fourteen" id="very14" value="one" /> <label for="very14">Very Little - 1</label> <br/>
						<input type="radio" name="fourteen" id="two14" value="two" /> <label for="two14">2</label> <br/>
						<input type="radio" name="fourteen" id="three14" value="three" /> <label for="three14">3</label> <br/>
						<input type="radio" name="fourteen" id="four14" value="four" /> <label for="four14">4</label> <br/>
						<input type="radio" name="fourteen" id="five14" value="five" /> <label for="five14">5</label> <br/>
						<input type="radio" name="fourteen" id="six14" value="six" /> <label for="six14">To a great extent - 6</label> <br/>
				<p>
				15. I tried to ignore anything that made me uncomfortable in this episode; I endured this episode until it passed. <p>
						<input type="radio" name="fifteen" id="not15" value="zero" /> <label for="not15">Not at all - 0</label> <br/>
						<input type="radio" name="fifteen" id="very15" value="one" /> <label for="very15">Very Little - 1</label> <br/>
						<input type="radio" name="fifteen" id="two15" value="two" /> <label for="two15">2</label> <br/>
						<input type="radio" name="fifteen" id="three15" value="three" /> <label for="three15">3</label> <br/>
						<input type="radio" name="fifteen" id="four15" value="four" /> <label for="four15">4</label> <br/>
						<input type="radio" name="fifteen" id="five15" value="five" /> <label for="five15">5</label> <br/>
						<input type="radio" name="fifteen" id="six15" value="six" /> <label for="six15">To a great extent - 6</label> <br/>
				<p>
				16. I reacted emotionally to this episode. <p>
						<input type="radio" name="sixteen" id="not16" value="zero" /> <label for="not16">Not at all - 0</label> <br/>
						<input type="radio" name="sixteen" id="very16" value="one" /> <label for="very16">Very Little - 1</label> <br/>
						<input type="radio" name="sixteen" id="two16" value="two" /> <label for="two16">2</label> <br/>
						<input type="radio" name="sixteen" id="three16" value="three" /> <label for="three16">3</label> <br/>
						<input type="radio" name="sixteen" id="four16" value="four" /> <label for="four16">4</label> <br/>
						<input type="radio" name="sixteen" id="five16" value="five" /> <label for="five16">5</label> <br/>
						<input type="radio" name="sixteen" id="six16" value="six" /> <label for="six16">To a great extent - 6</label> <br/>
				<p>
				<p>
				<input type="button" name="submit"	value="Submit" onclick="submitForm();" >
				 
	
				
				  
				 
				  
				
				</form>

                    <!-- Footer -->
                    <footer id="footer">
                        <div class="inner">
                            <div class="flex">
                                <div class="copyright">
                                    &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                                </div>
                                <ul class="icons">
                                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </footer>

                    <!-- Scripts -->
                    <script src="assets/js/jquery.min.js"></script>
                    <script src="assets/js/skel.min.js"></script>
                    <script src="assets/js/util.js"></script>
                    <script src="assets/js/main.js"></script>
			        <script src="assets/js/episode.js"></script>


	</body>
</html>