<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Frequently Asked Questions</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Main-->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Sense's Frequently Asked Questions</h2>

        </header>


        <body>
        <html>
        <!-- Content-->
        <h2 id="content">Questions on the application</h2>
        <p>1. What is Sense Surveys?</p>
        <p><i>Answer:</i></p>

        <p>2. Is the Sense Surveys anonymous?</p>
        <p><i>Answer:</i></p>

        <p>3. Who will see my survey information?</p>
        <p><i>Answer:</i></p>

        <p>4. Is Sense Surveys secure? </p>
        <p><i>Answer:</i></p>

        <p>5. Do I need to download software to PC to access this survey?</p>
        <p><i>Answer:</i></p>

        <p>6. What types of reporting options does Sense Survey offer?</p>
        <p><i>Answer:</i></p>

        <p>7. Can I export my data?</p>
        <p><i>Answer:</i></p>

        <p>8. How do I get registered to use Sense Survey? </p>
        <p><i>Answer: You will use your Penn State username and password that you were assigned when you
                registered
                at Penn State. Once you have those credentials you will need to work with your instructor to be
                granted access to the Sense Survey site. </i></p>

        <p>9. I forgot my password what do I do? </p>
        <p><i>Answer: Contact the Help Desk
                <ul>
                    <li>Help Request Form</li>
                    <li>Email: Helpdesk</li>
                    <li>Phone: 814-865-4772</li>
                </ul>
            </i></p>

        <p>10. I forgot my username what do I do? </p>
        <p><i>Answer: Contact the Help Desk
                <ul>
                    <li>Help Request Form</li>
                    <li>Email: Helpdesk</li>
                    <li>Phone: 814-865-4772</li>
                </ul>
            </i></p>


        <p>11. What is the requirements for passwords?</p>
        <p><i>Answer: The following password creation guidelines are based upon experience and common sense. The
                software used to change passwords will screen for most of these guidelines as an aid in creating
                secure passwords. This does not relieve a person of responsibility for creating and securing a
                good
                password.</i></p>

        <ol><i>
                <li>It must be at least eight characters in length. (Longer is generally better.)</li>
                <li>It must contain at least one alphabetic and one numeric character.</li>
                <li>It must be significantly different from previous passwords.</li>
                <li>It cannot be the same as the user ID.</li>
                <li>It cannot start or end with the initials of the person issued the user ID.</li>
                <li>It cannot include the first, middle, or last name of the person issued the user ID.</li>
                <li>Certain special characters may be used as indicated at password best practices. However, note that
                    some applications might not accept special characters; see password best practices for additional
                    information.
                </li>
                <li>It should not be information easily obtainable about you. This includes license plate, social
                    security, telephone numbers, or street address.
                </li>
                See password best practices for tips on how to create a strong password and avoid a weak
                password.</li>

        </ol>
        </i>

        <p>12. What browsers will work with Sense Surveys?</p>
        <p><i>Answer:</i></p>

        <p>13. Can I use this survey from my mobile app?</p>
        <p><i>Answer:</i></p>

        <h2 id="content">Questions on troubleshooting</h2>

        <p>1. Clearing history for the below browsers</p>
        <p><i>Answer:</i></p>
        <i><b>IE</b>
            <p><i>Internet Explorer 9, 10 and 11 (Win) - Clearing Cache and Cookies
                    <ul>
                        <li>Select Tools (via the Gear Icon) > Safety > Delete browsing history.... NOTE: You can also
                            access this menu by holding Ctrl + Shift + Delete.
                        </li>
                        <li>Make sure to uncheck Preserve Favorites website data and check both Temporary Internet Files
                            and Cookies then click Delete.
                        </li>
                        <li>You will get a confirmation at the bottom of the window once it has successfully cleared
                            your cache and cookies.
                        </li>
                    </ul>
                </i>
                <i><b>Chrome</b>
            <p><i>Clearing your browser’s cache and cookies means that website settings (like usernames and passwords) will be deleted and some sites might appear to be a little slower because all of the images have to be loaded again.
                    <ul>
                        <li>On your computer, open Chrome.
                        </li>
                        <li>On your browser toolbar, click More/More Tools/Clear Browsing Data.
                        </li>
                        <li>In the "Clear browsing data" box, click the checkboxes for Cookies and other site data and Cached images and files.
                        </li>
                        <li>Use the menu at the top to select the amount of data that you want to delete. Choose beginning of time to delete everything.
                        </li>
                        <li>Click Clear browsing data.
                        </li>
                    </ul>
                </i>
                <i><b>Mozilla Firefox</b>
                    <ul>
                        <li>From the History menu, select Clear Recent History. If the menu bar is hidden, press Alt to make it visible.
                        </li>
                        <li>From the Time range to clear: drop-down menu, select the desired range; to clear your entire cache, select Everything.
                        </li>
                        <li>Next to "Details", click the down arrow to choose which elements of the history to clear; to clear your entire cache, select all items.
                        </li>
                        <li>Click Clear Now.
                        </li>
                        <li>Exit/quit all browser windows and re-open the browser.
                        </li>
                    </ul>
                </i>
        </body>
</html>
</div>
</div>
</i>
</section>
<hr/>
<hr class="major"/>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                        href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</div>
</section>
</body>
</html>