<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Frequently Asked Questions</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <i class="inner">
        <header class="align-center">
            <h2>Sense's Frequently Asked Questions</h2>

        </header>
        <div>
            <html>
            <body>
            <!-- Content -->
            <h2 id="content">Questions on the application</h2>
            <p>1. What is Sense Surveys?</p>
            <p><i>Answer:</i></p>

            <p>2. Is the Sense Surveys anonymous?</p>
            <p><i>Answer:</i></p>

            <p>3. Who will see my survey information?</p>
            <p><i>Answer:</i></p>

            <p>4. Is Sense Surveys secure? </p>
            <p><i>Answer:</i></p>

            <p>5. Do I need to download software to PC to access this survey?</p>
            <p><i>Answer:</i></p>

            <p>6. What types of reporting options does Sense Survey offer?</p>
            <p><i>Answer:</i></p>

            <p>7. Can I export my data?</p>
            <p><i>Answer:</i></p>


        </div>

    </i>
</html>
</body>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                        href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>