<!DOCTYPE HTML>
<!--
   Theory by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
   Edit by Wendy Hartman for SWENG500
-->
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Respondent Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>



<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Respondent Data Search</h2>
            <p>Welcome to the Respondent Level Survey Data Search </p>
        </header>

        <!-- Content -->


        <h2 id="content">Introduction</h2>
        <p>The forms below allow the respondent to retrieve their own surveys from the collection of surveys.  Surveys are saved for up to one year.</p>
<hr>

        <!-- code for hoover drop down menu for reports -->

                <style>
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        padding: 12px 16px;
                        z-index: 1;
                    }
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                </style>
                </head>
                <body>

                <h3>Select your report!18</h3>
                <script type="text/javascript">
                    function configureDropDownLists(ddl1,ddl2) {
                        var reports = ['Please chose a report', 'Select Last 7 days', 'Select Last 30 days', 'Select a date range','Select a type of survey'];
                        var surveys = ['Please chose a report', 'Episode', 'Adjustment Response','Emotional State'];


                        switch (ddl1.value) {
                            case 'Reports':
                                ddl2.options.length = 0;
                                for (i = 0; i < reports.length; i++) {
                                    createOption(ddl2, reports[i], reports[i]);
                                }
                                break;
                            case 'Surveys':
                                ddl2.options.length = 0;
                                for (i = 0; i < surveys.length; i++) {
                                    createOption(ddl2, surveys[i], surveys[i]);
                                }
                                break;

                        }

                    }

                    function createOption(ddll, text, value) {
                        var opt = document.createElement('option');
                        opt.value = value;
                        opt.text = text;
                        ddl.options.add(opt);
                    }
                </script>

                <select id="ddl1"onchange="configureDropDownLists(this,document.getElementById('ddl2'))">
                    <option value="Please chose a report">Please chose a report</option>
                    <option value="Select Last 7 days">Select Last 7 days</option>
                    <option value="Select Last 30 days">Select Last 30 days</option>
                    <option value="Select a date range">Select a date range</option>
                    <option value="Select a type of survey">Select a type of survey</option>
                </select>
                <select id="ddl2">
                    <option value="Please chose a report">Please chose a report</option>
                    <option value="Episode">Episode</option>
                    <option value="Adjustment Response">Adjustment Response</option>
                    <option value="Emotional State">Emotional State</option>
                </select>
                </form>
                <p></p>
                <p></p>


                <button type="button" onclick="myFunction()">Run</button>



                <script>
                    function myFunction() {
                        var x = document.getElementById("dd1").value;
                        document.getElementById("NReport").innerHTML = x;
                    }
                </script>


                <!-- Report section begins -->
                <hr>
                <h3>Your Report!</h3>
                <b>Name:</b> <input type="text" id="myText">
                <b>User Number:</b> <input type="text" id="myText">
                <b>Name of Report:</b> <p id="NReport"></p>
                <b>Date Report Was Ran:</b> <p id="CDate"></p>
                <script>
                        document.getElementById("CDate").innerHTML = Date();

                </script>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>