<!DOCTYPE HTML>
<!--
   Theory by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
   Edit by Wendy Hartman for SWENG500
-->
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Respondent Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>



<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Respondent Data Search</h2>
            <p>Welcome to the Respondent Level Survey Data Search </p>
        </header>

        <!-- Content -->


        <h2 id="content">Introduction</h2>
        <p>The forms below allow the respondent to retrieve their own surveys from the collection of surveys.  Surveys are saved for up to one year.</p>
<hr>

        <!-- code for drop down menu for reports -->

                <style>
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        padding: 12px 16px;
                        z-index: 1;
                    }
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                </style>
                </head>
                <body>

                <h3>Select your report1!</h3>

                <select id="ddl1"onchange="configureDropDownLists(this,document.getElementById('ddl2'))">
                    <p>
                        <select id="ddl1" name="ddl1">
                            <option value="" selected="selected">Please chose a report</option>
                            <option value="<?php echo TYPE_USER;?>">Select Last 7 days</option>
                            <option value="<?php echo TYPE_LISTING;?>">Select Last 30 days</option>
                            <option value="<?php echo TYPE_LISTING;?>">Select a date range</option>
                            <option value="<?php echo TYPE_LISTING;?>">Select a type of survey</option>
                        </select>
                        <label for="ddl1" class="labelStrong">Reports</label>
                    </p>
                    <p>
                        <select id="ddl2" name="ddl2">
                            <option value="" selected="selected">Please chose a report</option>
                            <option value="Episode">Episode</option>
                            <option value="Adjustment Response">Adjustment Response</option>
                            <option value="Emotional State">Emotional State</option>
                        </select>
                        <label for="ddl2" class="labelStrong">Surveys</label>
                    </p>

                    <p>
                    <div id="calender">
                    </div>
                    </p>
                <p>
                    <input type="Run" name="Run" value="Run" id="Runit" />
                </p>
                $('#Runit').attr('disabled', 'disabled');

                function updateFormEnabled() {
                if (verifyAdSettings()) {
                $('#Runit').attr('disabled', '');
                } else {
                $('#Runit').attr('disabled', 'disabled');
                }
                }

                function verifyAdSettings() {
                if ($('#ddl2').val() != '' && $('#ddl1').val() != '') {
                return true;
                } else {
                return false
                }
                }

                $('#ddl2').change(updateFormEnabled);

                $('#ddl1').change(updateFormEnabled);

                <script>
                    function myFunction() {
                        var x = document.getElementById("ddl1").value;
                        document.getElementById("NReport").innerHTML = x;
                        var y = document.getElementById("ddl2").value;
                        document.getElementById("NSurvey").innerHTML = y;

                    }
                </script>


                <!-- Report section begins -->
                <hr>
                <h3>Your Report!1</h3>
                <b>Name:</b> <input type="text" id="myText">
                <b>User Number:</b> <input type="text" id="myText">
                <b>Name of Report:</b> <p id="NReport"></p>
                <b>Name of Survey:</b> <p id="NSurvey"></p>
                <b>Date Report Was Ran:</b> <p id="CDate"></p>

                <script>
                        document.getElementById("CDate").innerHTML = Date();

                </script>


                <h3>Body of the report</h3>
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>