<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Edited Wendy Hartman
-->
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Respondent Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Sense</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/episodesurvey">Episode</a>
            <a href="/adjustmentresponsesurvey">Adjustment Response</a>
            <a href="/emotionalstatesurvey">Emotional State</a>
            <a href="/surveyreports" class="icon fa-lock"> Survey Reports</a>
            <a href="/faq">FAQ</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>



<!-- Main -->
<section id="main" class="wrapper">

    <div class="inner">
        <header class="align-center">
            <h2>Respondent Data Search</h2>
            <p>Welcome to the Respondent Level Survey Data Search </p>
        </header>

        <!-- Content -->
        <h2 id="content">Introduction</h2>
        <p>The forms below allow the respondent to retrieve respondent surveys from the collection of surveys.  Respondent surveys are saved for up to one year.</p>
        <hr class="major" />

        <!-- Enter in usernumber to validate against the usertable to run respondent reports-->
        <h3> Please enter in your usernumber!</h3>
        <form action="/action_usernumberfield">
            <input type="text" name="usernumber" value="usernumber"><br>
            <input type="submit" value="Submit">
        </form>


        <div class="row">
            <div class="4u 12u$(small)">
                <h3> Retrieve All Emotional State Surveys</h3>
                <p>All Respondents</p>
                <form method="get" action="/respondentSearch" class="reptRetrieve7">
                    <input type="checkbox" id="exe7" name="exe7" required>
                    <label for="exe7">Execute this query</label><br>
                    <input type="submit" class="btn btn-primary instRetrieve1Button" value="Submit" />
                </form>
            </div>
            <div class="4u 12u$(small)">
                <h3>Retrieve All Episode Surveys</h3>
                <p>All Respondents</p>
                <form method="get" action="/respondentSearch" class="repRetrieve8">
                    <input type="checkbox" id="exe8" name="exe8" required>
                    <label for="exe8">Execute this query</label><br>
                    <input type="submit" class="btn btn-primary instRetrieve2Button" value="Submit" />
                </form>
            </div>

            <!-- Break -->
            <div class="4u 12u$(medium)">
                <h3>Retrieve All Adjustment Response Surveys</h3>
                <p>All Respondents</p>
                <form method="get" action="/respondentSearch" class="repRetrieve9">
                    <input type="checkbox" id="exe9" name="exe9" required>
                    <label for="exe9">Execute this query</label><br>
                    <input type="submit" class="btn btn-primary instRetrieve5Button" value="Submit" />
                </form>
            </div>


        <hr class="major" />

    </div>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>